.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Preguntas Frecuentes */
.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: #fff !important; 
  color: #dc3545 !important; 
}

.accordion-button {
  background-color: #fff !important;
  color: #dc3545 !important;
}

body {
  background-color: #fff;
}
